@model List<Movie.Models.MovieDBViewModel.MovieData>

@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Website
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.name
            </td>
            <td>
                @item.email
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @item.website
            </td>
        </tr>
        }
    </tbody>
</table>
